<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <h1>Full Menu</h1>
        <% menu.forEach((oneMenu)=>{ %>
            <p> Name: <%= oneMenu.name%>
            </p>
            <p> Price: <%= oneMenu.price%>
            </p>
            <p> Rating: <%= oneMenu.rating%>
            </p>
            <p> Details: <%= oneMenu.details%>
            </p>
<h2> category of the dish: <%= oneMenu.category %></h2>
            <% }) %>
</body>

</html>